<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL92Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">Tdutybq7</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/cardcontroldb</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="show_sql">false</property>
        
        <mapping class="org.kskteam.projects.cardcontrolproject.service.dao.dto.transaction.Transaction"/>
        <mapping class="org.kskteam.projects.cardcontrolproject.service.dao.dto.transaction.TransactionType"/>
        <mapping class="org.kskteam.projects.cardcontrolproject.service.dao.dto.user.User"/>
        <mapping class="org.kskteam.projects.cardcontrolproject.service.dao.dto.user.Role"/>
        
    </session-factory>
</hibernate-configuration>