<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL92Dialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">Tdutybq7</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/cardcontroldb</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<property name="hibernate.cache.use_second_level_cache">false</property>
		<property name="show_sql">true</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>

		<mapping
			class="org.ksk_team.projects.CorporateCardControlProject.service.dao.dto.transaction.Transaction" />
		<mapping
			class="org.ksk_team.projects.CorporateCardControlProject.service.dao.dto.transaction.TransactionType" />
		<mapping
			class="org.ksk_team.projects.CorporateCardControlProject.service.dao.dto.User" />
		<mapping
			class="org.ksk_team.projects.CorporateCardControlProject.service.dao.dto.Role" />

	</session-factory>
</hibernate-configuration>