//brand-book colors

//widths for tablet, mobile

$tablet-width: 768px;
$middle-width: 500px;

//mixins

@mixin font_style($family, $size, $color){
	font:{
		size: $size;
		family: $family;
	}
	color: $color;
}

//font-face rules for basic page fonts

@font-face{
    src: url(../fonts/OpenSansCondensedBold.woff) format('woff');
    font-family: 'OSC-Bold';
}

@font-face{
   src: url(../fonts/OpenSansCondensedLight.woff) format('woff');
   font-family: 'OSC-Light';
}

@font-face{
    src: url(../fonts/OpenSansCondensedLightItalic.woff) format('woff');
    font-family: 'OSC-Italic';
}

//basic resets for default styles

*{
    box-sizing: border-box;
}

html{
    min-height: 100%;
}
body{
    height: 100%;
    margin: 0;
    padding:0;
    background-color: #fff;
    font-family: 'OSC-Light';
    font-size: 100%;
}
ul{
    margin: 0;
    padding:0;
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
p{
    margin: 0;
}

input{
    border: none;
    background: none;  
    outline: none;
}

::-webkit-input-placeholder {color:#fff;}
::-moz-placeholder          {color:#fff;}
::-moz-placeholder           {color:#fff;}
::-ms-input-placeholder      {color:#fff;}

